# Python package requirements for ESP-IDF. These are the so called core features which are installed in all systems.

setuptools
packaging
# importlib_metadata: is part of python3.8 and newer as importlib.metadata
importlib_metadata; python_version < "3.8"
click
pyserial
cryptography
pyparsing
pyelftools
idf-component-manager
esp-coredump
esptool @ git+https://github.com/2opremio/esptool@3bd3d616f9b929a76e64e2f78bb9c9eaabd35d4d
esp-idf-kconfig
esp-idf-monitor @ git+https://github.com/2opremio/esp-idf-monitor@e4ee452687d3215150be49992668f9e3faec8d6b
esp-idf-nvs-partition-gen
esp-idf-size
esp-idf-panic-decoder
pyclang
construct

# gdb extensions dependencies
freertos_gdb
